.subproducts {
	margin: 0;
	padding: 40px 170px;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}

.item {
	max-height: 105px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.text {
	margin-top: 22px;
	font-weight: 400;
	font-size: 20px;
	line-height: 142.7%;

	text-align: center;

	color: var(--text-color);
}

.img {
	max-width: 58px;
	max-height: 58px;
}
