@import '~bootstrap/scss/bootstrap.scss';

.navbar {
	position: static;
	height: 100%;
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.navbar-toggler {
	border: none;
}

.navbar-collapse {
	justify-content: flex-end;
	align-items: stretch;
}

@include media-breakpoint-down(md) {
	.navbar-toggler.not-collapsed {
		position: fixed;
		top: 14.5vh;
		right: 14.5vh;
		z-index: 100;
	}

	.not-collapsed + .navbar-collapse > .wrapper,
	.collapsed + .navbar-collapse > .wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100% !important;
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 50;
		transition: 0s all;
		row-gap: 30px;
	}

	.search-nav {
		order: 2;
	}
	.menu-nav {
		order: 1;
	}
}

.full {
	background-color: white;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
}

.wrapper-promo {
	padding-bottom: 16px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.logo-promo {
	height: 113px;
}

.logo {
	height: 83px;
}

.search {
	width: 100%;
	height: 36px;
	padding: 0;

	font-weight: 400;
	font-size: 1em;

	color: var(--text-color);
	border: none;
	border-radius: 0;
	background-color: transparent;
	border-bottom: 1px solid var(--text-color);

	&::placeholder {
		color: var(--text-color);
	}

	&:focus {
		border: 1px solid #984c57;
		border-radius: 2px;

		box-shadow: none;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid var(--pink-500);
	}
}

.search-wrapper {
	max-width: 350px;

	position: relative;
	display: flex;
}

.button {
	position: absolute;
	right: 0;
	top: 0;
	background-color: transparent !important;
	border: none;
	box-shadow: none;
	color: var(--text-color) !important;

	&:hover {
		background-color: transparent;
		color: var(--pink-500);
	}

	&:active {
		background-color: transparent !important;
		color: var(--pink-500) !important;
	}
}
