.header {
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
}

.full {
	background-color: white;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
}

.wrapper-promo {
	padding-bottom: 16px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.logo-promo {
	height: 113px;
}

.logo {
	height: 83px;
}

.search {
	width: 100%;
	height: 100%;
	padding: 0;

	font-weight: 400;
	font-size: 1em;

	color: var(--text-color);
	border: none;
	border-radius: 0;
	background-color: transparent;

	&::placeholder {
		color: var(--text-color);
	}

	&:focus {
		border: 1px solid #984c57;
		border-radius: 2px;

		box-shadow: none;
	}
}

.search-wrapper {
	max-width: 350px;
	height: 36px;

	position: relative;
	display: flex;
	border-bottom: 1px solid var(--text-color);
}

.button {
	position: absolute;
	right: 0;
	top: 0;
	background-color: transparent;
	border: none;
	box-shadow: none;
	color: var(--text-color);

	&:hover {
		background-color: transparent;
		color: var(--buttons-color);
	}
}
